.App {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c4c4c4;
}

#map {
  position: relative;
  margin-left: 1em;
  height: 750px;
  width: 1380px;
}

h5, h6 {
  margin: 0;
  font-family: 'Besley', serif;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 11pt;
  font-weight: 300;
}

@media (max-width: 600px) {
  .App {
    flex-direction: column;
  }

  #map {
    width: 100vw;
    height: 100vh;
  }
}
