.info-column {
    background-color: #e4e9ea;
    width: fit-content;
    border-radius: 8px;
    padding: 2em;
    font-family: 'Besley', serif;
}

.color-key {
    display: flex;
    flex-direction: row;
    background-color: #282a43;
    border-radius: 7px;
    padding: 1em;
    margin-top: .5em;
}

span {
    color: #e4e9ea;;
}

.key-row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-right: 2em;
}

.key-pin {
    width: 30px;
    height: 41px;
    margin-right: 1em;
}

@media (max-width: 600px) {
    .info-column {
      width: 95vw;
    }
  }
  